@model IEnumerable<ProductViewModel>

@Html.ActionLink("Add new Product", "Create", "Products", "", new { @class = "btn btn-primary" })

<table class="table">
    <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Description</th>
            <th scope="col">Typology</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.ProductCode</td>
            <td>@item.Description</td>
            <td>@item.Type</td>
            <td>@item.SellingPrice</td>
            <td><a type="button" asp-controller="Products" asp-action="Details" asp-route-code="@item.ProductCode" class="btn btn-primary"><i class="fas fa-eye"></i></a></td>
            @*<td>@Html.ActionLink("Details", "Details", "Products", new { code = item.ProductCode }, new { @class = "btn btn-primary" }) </td>*@
            <td>@Html.ActionLink("Edit", "Edit", "Products", new { code = item.ProductCode }, new { @class = "btn btn-primary" })</td>
            <td><a type="button" asp-controller="Products" asp-action="Delete" asp-route-code="@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a></td>
        </tr>
        }

    </tbody>
</table>